@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Julius+Sans+One&family=Open+Sans:wght@300&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');

#App {
    min-height: 100vh;
} 

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FCF6F5;
    
  
    
  }

.cat-img {
    max-width: 350px;
    border-radius: 2rem;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;

}

.btn {
    margin: 0.5rem;
    font-weight: bold;
}

.btn-primary {
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-hover-border-color: #dc3545;
    --bs-btn-active-bg: #dc3545;
    --bs-btn-active-border-color: #dc3545;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}

.options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero-title {
    font-size: 6rem;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
    //font-family: 'Shadows Into Light', cursive;
    font-family: 'Amatic SC', cursive;
  }

  .custom-navbar {
    background-color: #e74c3c; 
  
    width: 100vw;
    z-index: 2;
  }
  
  .nav-link {
    color: #FCF6F5;
  }
  
  .navbar-nav .nav-link.active {
    color:#333333
  }

  .btn-group {
    flex-wrap: wrap;
  }